.greenNavDocView {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 51px;
  background-color: #66d49d;
}
.appointmentNum {
  color: red;
  margin: 0 5px;
}
.calenderD {
  height: 500px;
  overflow: scroll;
  margin: 63px;
}
.circle {
  color: white;
  background-color: red;
  text-align: center;
  border-radius: 11px;
  font-weight: bold;
  height: 19px;
  width: 20px;
  position: relative;
  left: -26px;
  top: -11px;
}
.left-sideDocView {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoDocView {
  display: flex;
  justify-content: center;
  width: 77px;
  height: 77px;
  padding: inherit;
  margin-top: 20px;
}

.headerDocView {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btnChangeDocView {
  padding: inherit;
  font-size: 18px;
  text-decoration: none;
  margin: 20px;
  color: red;
  position: relative;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.waitingDocView {
  padding: inherit;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.hrDocView {
  display: flex;
  width: 40%;
  padding-right: 30px;
  margin-bottom: 10px;
}

.bell {
  font-size: 24px;
  margin: 18px;
  bottom: 0;
}
.headDocView {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 15px;
}

.titleDocView {
  font-size: 48px;
}

.bookingCountDocView {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: #66d49d;
}

.containerDocView {
  display: flex;
  width: 90%;
}

.currentPatientDocView {
  display: flex;
  margin: auto;
  padding: inherit;
  width: auto;
}

.currentnowDocView {
  font-size: 48px;
}

.dataDocView {
  display: flex;
  font-size: 34px;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
  padding-left: 35px;
  padding-top: 25px;
}

.bigcontainer {
  border-style: dotted;
  padding-top: 25px;
  margin: 63px;
}
.first-elmDocView {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 15px;
}

.second-elmDocView {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 15px;
}
.second-elmDocView p input {
  width: 98%;
}

.item {
  color: #66d49d;
}
.noteDocView {
  display: flex;
  font-size: 18px;
  font-weight: lighter;
  width: 300px;
  height: 200px;
  border: 2px solid gray;
  border-radius: 10px;
  justify-content: center;
}

.btnDocView {
  display: inline-block flex;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  justify-content: center;
  width: 50px;
  height: 40px;
}

.btnDocView:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.redDocView {
  display: flex;
  justify-content: center;
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #ce3323;
  width: 40px;
  height: 30px;
}

.redDocView:hover {
  background-color: #ff6656;
}

.startDocView {
  margin-top: 25px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  width: 95px;
  height: 34px;
  cursor: pointer;
}

.button2DocView {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 45%;
  font-size: 20px;
}

.calendarDocView {
  display: flex;
  width: 100%;
  height: 250px;
  background-color: grey;
  font-size: 100px;
  justify-content: center;
}

.paddingDocView {
  padding-left: 30px;
}
