#footer,
.push {
  clear: both;
  border-top: 2px solid gray;
  background-color: #66d49d;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-center {
  width: 100%;
  margin: 0 auto;
  height: 4em;
  padding-bottom: 2px;
  display: flex;
  justify-content: center;
}

.footer-copy {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wmy {
  color: #eb5757;
}
