.doctor {
  margin-bottom: 20px;
}
.name {
  margin: 10px 0 0 0;
  background-color: #4c8a6b;
  width: 60%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
}
.doctor > img {
  align-self: center;
  justify-content: center;
}
.container-doctor {
  width: 85%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.inner-doctor {
  background-color: #c4c4c4;
  border-left: 5px solid #66d49d;
}

h5 {
  margin: 0;
  color: #55635c;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding-left: 10px;
}
h6 {
  margin: 0;
  padding-left: 10px;
}
.inner-doctor > p {
  padding-left: 10px;
  position: relative;
}
.img {
  display: flex;
  justify-content: center;
}
.img:hover {
  cursor: pointer;
}
.www {
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
}

.calender {
  display: flex;
  justify-content: center;
}
.input {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
input[type='text'] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  color: black;
}

input[type='text']:focus {
  border: 3px solid #073a4a;
  border-radius: 5px;
  font-size: 18px;
}
input[type='submit'] {
  padding: 12px 20px;
  font-size: 27px;
  width: 30%;
  margin: 8px 0;
  background-color: #073a4a;
  border: none;
  color: white;
  border-radius: 26px;
}
input[type='submit']:hover {
  background-color: #0c1a2770;
}
.errorMassage {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.rbc-toolbar-label {
  color: #0e3a49;
  font-size: 18px;
  font-weight: bold;
}

.myBigGreenDialog {
  backgroundcolor: '#00897B';
  color: '#ffffff';
  height: 'auto';
  textalign: 'center';
}
.sytleCalender = {
  height: '320px';
}
