@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.midlleSecView {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flexSecView {
  flex: 1;
}

.tablesSecView {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.logoSecView {
  display: flex;
  justify-content: center;
  width: 77px;
  height: 77px;
  padding: inherit;
  margin-top: 20px;
}

.btnChangeSecView {
  padding: inherit;
  font-size: 18px;
  text-decoration: none;
  margin: 20px;
  color: red;
  position: relative;
  justify-content: center;
  font-weight: bold;
}

.hrSecView {
  display: flex;
  width: 40%;
  padding-right: 30px;
  margin-bottom: 10px;
}

.calendarSecretaryView {
  display: flex;
  background-color: grey;
  font-size: 100px;
  justify-content: center;
}

.headSecView {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-bottom: 15px;
  flex-direction: row;
  padding: inherit;
}

.firstPartSecView {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondPartSecView {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.containerSec {
  margin:auto;
  text-align:center;
}

.searchformSec {
  display:inline;
  font-size:1em;
  border-radius: 8em;
  border:0.1em solid rgba(218,208,190,1);
  box-shadow:0 0 0.3em rgba(60,60,60,0.4);
  padding:0.3em;
  background:white;
}

.sSec {
  width: 60px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.sSec:focus {
  width:100%;
  opacity:1;
}

.labelSec {
  padding-left: 1px;
  display:inline-block;
  margin-top:0.3em;
  color:rgba(218,208,190,1);
  text-shadow:0 0 0.1em rgba(60,60,60,0.3);
  position: relative;
  left:0.1em;
}

.titleSecView {
  font-size: 48px;
}
