.slideshow-wrapper img {
    height: 83vh;
    margin-top: 72px;
}

.button {
  text-decoration: none;
  background: #66d49d;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 39vw;
  border-radius: 10px;
}
.button > a {
  color: white;
  text-decoration: none;
}
.button > a:hover {
  color: black;
}
.sliderbar > .container {
  margin: 0 !important;
  width: 100%;
  padding: 0px;
}

@media only screen and (max-width: 1024px) {
  .slideshow-wrapper img {
    height: 50vh;
  }
  .button {
    top: 35%;
    left: 37vw;
  }
}
